*{
    margin: 0px;
    padding: 0px;
}
#navbar{/*nav bar*/
    display:flex;
    justify-content: space-between;
    width: 100%;
    background-color:#080747;
    height: 90px;
    color: white;
}
.ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 10%;
}
#logoFrame{
    width:30%;
    color: white;
    font-style: italic;
}
#icon{
    width: 20%;
    margin-left: 20px;
}
#logoFrame>h5{
    margin-left: 41px;
}
#logoFrame>h5:nth-child(3){
    margin-left: 51px;
}
#cart{
    width: 50%;
}
#cartFrame{
    display: flex;
}
.box{
    background-color: red;
    width: 25%;
    height: 30px;
    border-radius: 5px;
}
#container2{
    display: flex;
    justify-content: space-between;
    width: 20%;
    top:25px;
    height: 50px;
    position: absolute;
    right:20px ;
}
#home{/*giving position for home text*/
    margin-left:13px;
    margin-top: 4px;
}
#api{/*giving position for api text*/
    margin-left: 20px;
    margin-top: 4px;
}
#cartText{/*giving position for cart text*/
    margin-top: 7px;
    font-size: 13px;
}
#content>h1{
    margin-left: 35%;
}
#content>p{
    margin-left: 2%;
    text-align: center;
}
#bg{
    height: 300px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}
#searchbar{
    width: 30%;
    margin-left: 34%;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid black;
}
.searchbutton{
    display: flex;

}
.aling{
    margin-top: 4px;
    margin-left: 3px;
}
#alingDiv{
    background-color: yellow;
    width: 5%;
    
}
button{
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
    border: 0.5px solid black;
}
.meal>img{
    width: 80%;
    border-radius: 20px;
    border: 1px solid black;
}
.meal>h2{
    font-size: 15px;
}
.meal{
    margin-top: 40px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}
#blog{
    display: grid;/*applying grid*/
    gap: 13px;
    justify-content: space-between;/*giving space*/
    grid-template-columns: 27% 27% 27% 27% ;/*giving each image size 27%;one column has: 4 image*/
    width: 90%;
    margin-left:5%;
}
.meal{
    width:70%;
    display:grid;
    gap:4px;
    background-color: rgb(243, 212, 175);
}
#Categories{
    margin-left: 45%;
}
#rand>img{
    width:52%;
    border-radius: 100%;
    left: 13%;
    position: absolute;
    top:45px;
    border: 4px solid rgb(166, 214, 69);

}
#rand{/*Random image div*/
    position: absolute;
    top:40%;
    color: rgb(18, 31, 88);
    width: 45%;
    font-size: larger;
    left: 33%;
}
#rand>h2{
    right: 85%;
    width:50%;
    height: 110px;
    margin-top: 25%;
    position: absolute;
}
#cat{
    display: flex;
    position: absolute;
}
#innertext{
    color: rgb(13, 60, 125);
}
#dialogBox{/*parent dialogBox div*/
     position: absolute;
     top:51%;
     left: 50%;
     width:20%;
     height: 1%;
}
#dbButton{
    width:30%;
    margin-left: 60%;
    border: 2px solid blue;
    margin-bottom: 10px;
    margin-top: 5px;
}
#dialogId{/*dialogBox div*/
    height: 39%;
    width: 60%;
    margin-top: 17%;
    margin-left: 20%;
    background-image: url(assets/recipe.jpg);
}
#name{
    color: green;
}
.theme{
    color: rgb(34, 32, 162);
}
.para{
    color: rgb(1, 0, 4);
    font-weight: bold;
    font-stretch: ultra-condensed;
    background-color: #ffffff;
    font-size: 15px;
}
#btn{/*button inside dialogBox*/
    margin-bottom: 20px;
    width: 10%;
    color: black;
    font-weight: bolder;
    background-color: #8cc0e7;
    margin-left:88% ;
    height: 30px;
    margin-top: 10px;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
}
::backdrop {/*pseudo element for dialog box*/
    background-image: linear-gradient(
      45deg,
      magenta,
      rebeccapurple,
      dodgerblue,
      green
    );
    opacity: 0.75;
  }
#noresult{
    position: absolute;
    left: 42%;
    color: red;
    background-color: #e4e5a5;
}
.toggle-button{/*for menu bar*/
    position: absolute;
    top:1rem;
    right:1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:30px;
    height: 21px;
    display: none;
}
.toggle-button .bar{/*menu bar*/
    height: 3px;
    width:100%;
    background-color: white;
    border-radius: 10px;
}
/*Responsive*/
@media only screen and (max-width:600px) and (min-width:320px) {
    .toggle-button {
        display: flex;
        margin-top: 15px;
        margin-right:0px ;
    }
    #navbar{
        width: 110%;

    }
    #container2 {
        display: none;
        width: 60%;
        height: 12%;
        left:42%;
        top: 5%;
        justify-content: space-around;
    }

    .ul {
        display: flex;
        text-align: center;
        width:130%;
        margin-top: 30px;
        justify-content: space-between;
    }

    .box {
        padding: .5rem 1rem;
        width: 10%;
        height: 20%;
        font-size: 10px;
        border:2px solid blue;
    }
    #container2.active {/*class selector*/
        display: flex;
    }
    #home{
        position: absolute;
        top:33px;
        left: 1px;
    }
    #api{
        position: absolute;
        top:33px;
        left: 56px;
    }
    #cartText{
        display: none;
    }
    #cart{
        width: 22%;
        position: absolute;
        top:28px;
        left: 125px; 
    }
    #icon{
        width: 70%;
    }
    #logoFrame{
        margin-top: 3px;
    }
    #logoFrame>h5:nth-child(3){
         margin-left:38% ;
    }
    #logoFrame>h5{
         margin-left:30%;
    }
    #content>h1{
        margin-left: 22px;
        font-size: 20px;
    }
    #content>p{
        font-size:12px ;
    }
    #searchbar{
        width:70%;
        height: 30px;
        margin-left: 25px;
    }
    #alingDiv{
        width: 20%;
    }
    #alingDiv>h4{
        margin-bottom: 3px;
    }
    #rand{
        width: 60%;
        margin-top: 25%;
    }
    #rand>img{
        width: 90%;
        position: absolute;
        top:0px;
        left: 50px;
    }
    #rand>h2{
        margin-top: 30%;
        font-size: 15px;
        width:70%;
        color:rgb(212, 8, 8);
    }
    #bg{
        width: 110%;
        height: 150px;
    }
    #noresult{
        font-size: 20px;
        margin-top: 30px;
        background-color: #e4e5a5;
    }
    .meal>img{
        display: flex;
        width: 85%;
    }
    .meal>h2{
        font-size: 10px;
    }
    .meal{
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px #888888;
        width: 55%;
        height: 70%;
        background-color: rgb(255, 218, 173);
    }
    #dialogId{
        margin-top: 60%;
        width: 80%;
        margin-left: 32px;
    }
    #btn{
        width: 20%;
        margin-left: 80%;
    }

}
